.accordion {
  width: 100%;
}

.accordion-header {
  grid-template-columns: auto 20px;
  display: grid;
  background-color: #2c3e50;
  color: #fff;
  border-radius: 6px 6px 0px 0px;
  padding: 5px;
}

.accordion-header::after {
  content: '-';
}

.accordion-collapsed .accordion-header::after {
  content: '+';
}

.accordion-header:hover {
  cursor: pointer;
  background-color: #426ef0;
}

.accordion-header .colorful-checkbox:hover {
  box-shadow: 0 0 20px 10px #fff;
}

.accordion-body {
  overflow: hidden;
}

.accordion-collapsed .accordion-body {
  height: 0px;
  transition: all 0.4s ease-out;
}

.accordion-body {
  transition: all 0.4s ease-out;
}
