.checkbox-item {
  display: grid;
  grid-template-columns: min-content auto;
  column-gap: 0.5em;
  align-items: center;
}

.checkbox-item.no-checkbox {
  grid-template-columns: auto;
}

.checkbox-item p {
  font-size: 1.2em;
}
