.colorful-checkbox {
  width: 0.8em;
  height: 0.8em;
  border-radius: 2px;
}

.colorful-checkbox:hover {
  cursor: pointer;
}

.colorful-checkbox::after {
  position: relative;
  left: 0;
  top: 0;
  line-height: 0.8em;
}

.colorful-checkbox-checked::after {
  content: '\2714';
}

.colorful-checkbox-indeterminate::after {
  content: '\2012';
  font-weight: 1000;
  left: 1px;
}
