* {
  padding: 0;
  margin: 0;
}

body, html {
  height: 100%;
  width: 100%;
}

.minu-menu {
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  padding: 10px;
  background-color: #ccc;
  position: relative;
}

.item-list {
  width: 100%;
  height: 100%;
  position: relative;
}

.item-list ul {
  width: 100%;
  height: auto;
  list-style: none;
}

.real-list li {
  width: calc(100% - 10px);
  height: 20px;
  margin: 5px 0;
  padding: 5px;
}
