.selection-rectangle {
  display: none;
  background-color: aqua;
  opacity: 0.5;
  border: 1px solid aquamarine;
  position: absolute;
  height: calc(100% - 2px);
  top: 0;
}

.selection-rectangle-active {
  display: block;
}
