.tooltip {
  width: auto;
  height: auto;
  border-radius: 5px;
  box-shadow: 2px 2px 6px -4px #999;
  border: 1px solid #e3e3e3;
  background: rgba(255, 255, 255, 0.96);
  cursor: default;
  font-size: 14px;
  position: fixed;
  top: 150px;
  left: 200px;
  opacity: 0;
  z-index: 99;
}

.tooltip-title {
  background: #ECEFF1;
  border-bottom: 1px solid #ddd;
  padding: 6px;
  margin-bottom: 4px;
}

.tooltip-body {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 5px;
}

.tooltip-active {
  transition: 0.15s ease all;
  opacity: 1;
}
